.expense-entry {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.expense-entry input {
    width: 120px;
    height: 20px;
    padding: 0.6em 1.2em ;
    margin: 5px;
}

.delete-entry-btn {
    border: none;
    border-radius: 5px;
    color: rgb(129, 129, 129);
    margin: -15px 2px;
    padding: 0.6em 1.2em;
    width: 10vw;
    cursor: pointer;
    font-family: "Fira Code", monospace !important;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
    font-size: 1.2rem;
}

/* Responsive Design */

/* For tablets and smaller devices */
@media (min-width:769px) and (max-width: 1024px) {
    .expense-entry {
        flex-direction: column; /* Stack elements vertically */
        align-items: flex-start;
    }

    .expense-entry input {
        width: 150px;
        height: 30px;
    }

    .delete-entry-btn {
        width: 20vw;
        font-size: 1rem;
        padding: 0.5em 1em;
    }
}

/* For phones */
@media (min-width:481px) and (max-width: 768px) {
    .expense-entry input {
        width: 140px;
        height: 25px;
        font-size: 0.9rem;
    }

    .delete-entry-btn {
        width: 30vw;
        font-size: 1rem;
        padding: 0.5em 1em;
    }
}

/* For small phones */
@media only screen and (max-width: 480px) {
    .expense-entry {
        justify-content: center;
    }
    .expense-entry input {
        width: 120px;
        height: 22px;
        font-size: 0.8rem;
    }

    .expense-entry button, .expense-entry button:hover{
        width: auto;
        font-size: 1.2rem;
        padding: 0.4em 0.8em;
    }
}
