@import url('https://fonts.googleapis.com/css2?family=New+Amsterdam&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Fira+Code:wght@300..700&display=swap');

.container {
  width: 100%;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.expense-form-container {
  display: flex;
  flex-direction: column;
  margin: 20px;
  width: 100%;
}

.splitter-layout {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  align-content: space-around;
  width: 100%;
  height: auto;
  overflow-y: auto;

  flex: 1;
  margin: 0;
  padding: 0;
}

.left-pane {
  height: auto;
  width: 60%;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.right-pane {
  width: 40vw;
  height: auto;
}

.left-pane,
.right-pane {
  margin: 20px 10px;
}

.blur {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: grid;
  place-items: center;
  z-index: 1000;
  backdrop-filter: blur(5px) saturate(180%);
  -webkit-backdrop-filter: blur(16px) saturate(180%);
  background-color: rgba(31, 37, 49, 0.514);
}

.overlay {
  width: 60vw;
  height: auto;
  max-height: 75vh;
  min-height: 50vh;
  background-color: rgb(17, 17, 17);
  border-radius: 0.5em;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
}

.backNhead button {
  font-size: 1.2rem;
  padding: 10px;
  width: 10vw;
}

.backNhead input {
  font-size: 1.2rem;
}

.backNhead input,
.backNhead input:focus {
  width: 40px;
  padding: 0.6em 1.2em;
  background-color: #1a1a1a;
  border: none !important;
  outline: none !important;
}

.overlay h2 {
  margin-left: 2rem;
}

.expense-calc-con {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  height: 100%;
  width: auto;
}


form {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.left-pane button {
  border: none;
  border-radius: 5px;
  color: rgb(129, 129, 129);
  margin: 1rem;
  cursor: pointer;
  text-align: center;
}

.cliNform {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  height: 50vh;
}

.cli-output {
  background-color: #111111;
  height: auto;
  width: auto;
  padding: 10px;
  margin: 1rem;
  border-radius: 5px;
  min-height: 100px;
  font-family: monospace;
  color: rgb(145, 145, 145);
  overflow-x: auto;
}

.cli-output::-webkit-scrollbar {
  background: rgb(39, 39, 39);
  width: 5px;
}

.cli-output::-webkit-scrollbar-thumb {
  background: rgb(153, 151, 161);
}

.total-display {
  margin-top: 20px;
  font-size: 1.2rem;
  font-weight: bold;
  color: #ff4500;
}

.button-group {
  height: 20%;
  display: flex;
  gap: 10px;
}

footer {
  width: 100%;
  text-align: center;
  padding-top: 10px;
  padding-bottom: 10px;
  background-color: #111111;
  font-family: "Fira Code", monospace;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
  font-size: 1rem;
}


/*Form CSS*/
.expense-entry {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.expense-input {
  max-height: 80%;
  overflow-y: auto;
  scroll-behavior: smooth;
  margin: 0 auto;
}

.expense-input::-webkit-scrollbar {
  background: rgb(39, 39, 39);
  width: 5px;
}

.expense-input::-webkit-scrollbar-thumb {
  background: rgb(153, 151, 161);
}

.expense-entry input {
  width: 120px;
  height: 20px;
  padding: 0.6em 1.2em;
  margin: 5px;
}

.expense-entry button {
  border: none;
  border-radius: 5px;
  color: rgb(129, 129, 129);
  margin: 5px 2px;
  padding: 0.6em 1.2em;
  width: 10vw;
  cursor: pointer;
  font-family: "Fira Code", monospace !important;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
  font-size: 1.2rem;
}

/*Button GRoups*/

.btnExpense {
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.button-group button,
.button-group button:hover {
  border: none;
  border-radius: 5px;
  color: rgb(129, 129, 129);
  padding: 0.5rem;
  width: auto;
  height: 60%;
  cursor: pointer;
  font-family: "Fira Code", monospace !important;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
  font-size: 1.2rem;
}

/*
@media (min-width:769px) and (max-width: 1024px) {

  .left-pane,
  .right-pane {
    width: 100%;
  }

  .overlay {
    width: 80vw;
  }

   .btnExpense {
        flex-direction: column;
        align-items: center;
    }

    .button-group button,
    .button-group button:hover {
        width: 20vw;
        font-size: 1rem;
        padding: 8px 12px;
    }
}*/

@media (min-width:481px) and (max-width: 768px) {
  .left-pane,
  .right-pane {
    width: 100%;
    margin: 10px 0;
    justify-content: center;
    flex-direction: column;
  }

  #budgetSplitter {
    align-items: center;
  }

  .overlay {
    width: 95vw;
  }

  .backNhead input {
    font-size: 1.2rem;
  }

  .backNhead button {
    width: 20vw;
  }

  .left-pane button {
    padding: 20px;
    font-size: 1.2rem;
  }


  .total-display {
    font-size: 0.9rem;
  }

  .expense-input {
    max-height: 50%;
  }

  .expense-entry {
    display: flex;
    flex-direction: row;
  }

  .cliNform {
    flex-direction: column;
    justify-content: center;
  }

  .expense-entry {
    justify-content: center;
  }

  .expense-entry input {
    max-width: 120px;
    width: auto;
    height: 22px;
    font-size: 0.8rem;
  }

  .expense-entry input:nth-child(2) {
    max-width: 50px;
  }

  .expense-entry button,
  .expense-entry button:hover {
    width: auto;
    font-size: 1.2rem;
    padding: 0.4em 0.8em;
  }

  .button-group {
    height: auto;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    gap: 10px;
  }

  .button-group button,
  .button-group button:hover {
    width: 90%;
    font-size: 1.2rem;
    margin: 2px;
    padding: 8px;
    height: auto;
  }

}

@media only screen and (max-width: 480px) {

  .left-pane,
  .right-pane {
    width: 100%;
    margin: 10px 0;
    justify-content: center;
    flex-direction: column;
  }

  #budgetSplitter {
    align-items: center;
  }

  .overlay {
    width: 95vw;
  }

  .backNhead input {
    font-size: 1.2rem;
  }

  .backNhead button {
    width: 20vw;
  }

  .left-pane button {
    padding: 20px;
    font-size: 1.2rem;
  }


  .total-display {
    font-size: 0.9rem;
  }

  .expense-input {
    max-height: 30%;
  }

  .expense-entry {
    display: flex;
    flex-direction: row;
  }

  .cliNform {
    flex-direction: column;
    justify-content: center;
  }

  .expense-calc-con {
    height: 80%
  }
  .expense-entry {
    justify-content: center;
  }

  .expense-entry input {
    max-width: 120px;
    width: auto;
    height: 22px;
    font-size: 0.8rem;
  }

  .expense-entry input:nth-child(2) {
    max-width: 50px;
  }

  .expense-entry button,
  .expense-entry button:hover {
    width: auto;
    font-size: 1.2rem;
    padding: 0.4em 0.8em;
  }

  .button-group {
    height: auto;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    gap: 10px;
  }

  .button-group button,
  .button-group button:hover {
    width: 90%;
    font-size: 1.2rem;
    margin: 2px;
    padding: 8px;
    height: auto;
  }
}